
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
}

.menu-seccion {
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

.plato, .acompañamiento, .postre {
    margin-bottom: 15px;
}
